<form (ngSubmit)="onSubmit()" #form='ngForm'>
  <h1 class="h3 mb-3 fw-normal">Вход в аккаунт</h1>

  <div class="form-floating">
    <input type="email" 
    name="email"
   class="form-control"
    id="floatingInput" 
    placeholder="name@example.com" 
    [(ngModel)]="user.email" 
    required 
    email
    maxlength="300"
    #email="ngModel" />
    <label for="floatingInput">Email</label>
  </div>
  <div *ngIf="(email.invalid && email.touched) || email.dirty">
    <div class="alert alert-danger" *ngIf="email.errors?.['required']">
      Требуется email
   </div>
   <div class="alert alert-danger" *ngIf="email.errors?.['email']">
      Email введен неправильно
   </div>
   <div class="alert alert-danger" *ngIf="email.errors?.['maxlength']">
    Максимум 300 символов
   </div>
  </div>


  <div class="form-floating">
    <input type="password"
     name="password" 
     class="form-control" 
     id="floatingPassword"
    placeholder="Password"
     [(ngModel)]="user.password" 
     required 
     minlength="10"
     maxlength="300"
    #password='ngModel'>
    <label for="floatingPassword">Пароль</label>
  </div> 
  <div *ngIf="(password.invalid && password.touched)  || password.dirty">
   <div class="alert alert-danger" *ngIf="password.errors?.['required']">
     Требуется пароль
   </div>
   <div class="alert alert-danger" *ngIf="password.errors?.['minlength']">
      Минимум 10 символов
   </div>
   <div class="alert alert-danger" *ngIf="password.errors?.['maxlength']">
      Максимум 300 символов
   </div>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit"
  [disabled]="!form.form.valid" >Войти</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2022–2022</p>
  <p>{{error}}</p>
</form>