<!-- cpicok mashin
<!-- <p> {{car.id}}. {{car.brend}} {{car.model}} </p>
 -->
 <!-- <p>user works! {{primeName}} {{name}}</p>
 <p>
     <a routerLink=":id">Stats</a>
 </p>
 <p>
     <a routerLink="add">About</a>
 </p>
  -->
 <!-- <router-outlet></router-outlet> --> -->

 <!-- <p>{{student.id}}. {{student.name}}</p> -->
 
<!-- 
 <div class="students_list mt-6">
    <h2 class="subtitle">Список студентов:</h2>
    <ul class="list">
      <li class='list-item mb-1 mt-1' *ngFor="let student of students">
    
        <p>{{student.id}}. {{student.name}}</p>
      </li>
    </ul>
  </div> -->
  <p>user works! {{primeName}} {{name}}</p>
<p>
    <a routerLink="/aboutme">Stats</a>
</p>
<p>
    <a routerLink="/car/:id">About</a>
</p>

<router-outlet></router-outlet>